In [37]:
import question_server as qs

In [30]:
response = qs.ask_question(45,"AND")
headers = list(response.columns)
values = list(response.iloc[0])
values

Connection to PostgreSQL DB successful
AND

['45.0',
 'Future changes',
 'Greater respect for authority',
 '0.5%',
 '47.01%',
 '44.32%',
 '8.17%',
 1004]

In [40]:

qs.ask_question(46,"IRQ")

Connection to PostgreSQL DB successful
IRQ

,Question,Theme,Subtheme,Don't know,No answer,Very happy,Quite happy,Not very happy,Not at all happy,Answers
0,46.0,Feeling of happiness,0,0.58%,1.17%,17.92%,51.25%,19.33%,9.75%,1200

In [42]:
import question_server as qs2
qs2.ask_question(32,"IRQ")

Connection to PostgreSQL DB successful
IRQ

,Question,Theme,Subtheme,Don't know,No answer,Agree strongly,Agree,Disagree,Strongly disagree,Answers
0,32.0,Being a housewife just as fulfilling,0,2.5%,0.83%,45.92%,24.67%,18.25%,7.83%,1200

In [48]:
qs.ask_question(42,"AND")

Connection to PostgreSQL DB successful
AND

,Question,Theme,Subtheme,No answer,The entire way our society is organized must be radically changed by revolutionary action,Our society must be gradually improved by reforms,Our present society must be valiantly defended against all subversive forces,Answers
0,42.0,Basic kinds of attitudes concerning society,0,4.18%,11.25%,81.47%,3.09%,1004

In [54]:
import question_server
question_server.ask_question(4,"IRQ")

Connection to PostgreSQL DB successful
IRQ

,Question,Theme,Subtheme,Don't know,No answer,Very important,Rather important,Not very important,Not at all important,Answers
0,4.0,Important in life,Politics,2.08%,0.42%,17.58%,21.42%,27.75%,30.75%,1200

In [3]:
#import question_server as qs
from flask import Flask
from flask_cors import CORS
from flask import request
import pandas as pd
import psycopg2
from psycopg2 import OperationalError

from multiprocessing import connection
import json

def create_connection(db_name, db_user, db_password, db_host, db_port):
    connection = None
    try:
        connection = psycopg2.connect(
            database=db_name,
            user=db_user,
            password=db_password,
            host=db_host,
            port=db_port,
        )
        print("Connection to PostgreSQL DB successful")
    except OperationalError as e:
        print(f"The error '{e}' occurred")
    return connection

def question_setup():
    global connection
    connection = create_connection(
        "country_app", "postgres", "", "127.0.0.1", "5432"
    )
    return connection

In [7]:

question_nr, country_alpha = 29, 'IRQ'

select_question_answers = f"""
    SELECT "Q{question_nr}", COUNT("Q{question_nr}") FROM QUESTIONS WHERE "B_COUNTRY_ALPHA" = '{country_alpha}' GROUP BY "Q{question_nr}" ORDER BY "Q{question_nr}"
"""
query = f"""
SELECT f.country, wpc.gdp_per_cap, f.fertility as GDP FROM world_gdp_per_cap as wpc INNER JOIN world_fertility as f ON f.iso_code = wpc.iso_code WHERE f.iso_code='{country_alpha}'
"""

connection = question_setup()
cursor = connection.cursor()
cursor.execute(query)
results = cursor.fetchall()

for r in results:
    print(r)

Connection to PostgreSQL DB successful
('Iraq', 18755.0, 3.7)

In [13]:
country_alpha = "'IRQ','JPN'"

country_alpha = ['IRQ','JPN']

question_str = ""
for c in country_alpha:
    print(c)
    question_str+="'"+c+"',"
    
question_str = question_str[:-1]
    

print(question_str)
#question_str.join(country) for country in country_alpha:

IRQ
JPN
'IRQ','JPN'